{% extends 'main.html' %}

{% block title %} OTS registration Status {%endblock title %}
{% block top %} 
<a href="{% url 'OTS:registrationForm' %}">singup</a>
> Signup </a>
<a href="{% url 'OTS:login' %}">Login</a>
{%endblock %}
{% block content%}
{% if userStatus == 1 %}
   <div class="userStatus"> 
     Sorry, username already exits, please try different username
     <a href="{% url 'OTS:registrationForm' %}">Back to Candidate Registration Form </a>
   </div>
   {% elif userStatus == 2 %} 
    <div class="userStatus">
        Congratulations !! User created succesfully 
        <a href="{% url 'OTS:login' %}">Login</a>
    </div>

    {% elif userStatus == 3 %} 
    <div class="userStatus">
        Opps !! Improper Request
        <a href="{% url 'OTS:registrationForm' %}">Back to candidate registration</a>
    
    </div>

{% endif %}
{% endblock %}